*{
    margin: 0;
    padding: 0;
}
.container
{
    height: 100vh;
    background-color: #745AEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer input{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border: none;
    width: 5px;
    transition: width 0.3s ease;
    padding-left: 5px;
}

.inputContainer input.ative{
    width: 400px;
}

.inputContainer button{
    border: none;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
