body{
    margin: 0;
    background-color:  #9a9a9a;
}
main{
    background-color: #d4d4d4;
    padding: 5rem 10rem;
    position: relative;
    transition: transform  0.6s;
}

.menu-button{
    background-color: red;
    width: 15rem;
    height: 15rem;
    position: absolute;
    top:-7.5rem;
    left: -7.5rem;
    border-radius: 50%;
    cursor: pointer;    
    z-index: 1;
    transition: transform  0.6s;
}
.menu-button p{
    color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
}
p.open{
    bottom: 1rem;
    right: 5rem;
}
p.close{
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    rotate: 90deg;
}
ul,li{
    list-style: none;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    padding: 1rem 1rem;
}
ul{
    rotate: -20deg;
}
li{
    rotate: 20deg;
    cursor: pointer;
}
.menu{
    position: fixed;
    left: 1rem;
    z-index: -1;
    bottom: 3%;
}
.rotate90{
    transform: rotate(-90deg);
}
.rotate30{
    transform:rotate(-30deg) translateY(-15%) translateX(30%);
}